<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Categoría %>
    <%= form.select :category_id, @categories, id: :product_category_id, prompt: "Seleccione categoría", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :Marca %>
    <%= form.select :brand_id, @brands, id: :product_brand_id, prompt: "Seleccione una marca", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <label for="spec">Etiquetas (separasd por coma)</label>
    <input class="form-control" type="text" name="product[spec]" value="">
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Crear', class: "btn form-btn" %>
  </div>
<% end %>
