<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h4>datos del vendedor</h4>
<% if @product.user.shop? %>
  <%= render 'shared/widgetShop' %>
<% else %>
  <%= render 'shared/widgetUser' %>
<% end %>

<h4>etiquetas:</h4>
<% @specs.each do |spec| %>
  <a href="#" class="badge badge-primary"><%= spec.tag.name %></a>
<% end %>

<h4>productos similares</h4>
<% @rel_products.each do |product| %>
  <%= product.name %>
<% end %>


<%= form_with model: [@product, Comment.new]  do |f| %>

  <%= f.text_area :content  %>
  <%= f.submit %>

<% end %>

<% if @comments.present? %>
  <ul id="comment_list">
    <% @comments.each do |comment| %>
      <li><%= comment.content %> <%= link_to 'Borrar', product_comment_path(@product,comment), method: :delete, class: 'btn btn-danger' if can? :destroy, comment %></li>
    <% end %>
  </ul>

<% else %>
<ul id="comment_list">

</ul>
  <h2>No hay comentarios!</h2>
<% end %>

<% if can? :update, @product %>
  <%= link_to "Edit", edit_product_path(@product), class:'btn btn-info' %>
<% end %>
