
<div class="container">
  <div class="row mt-3">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-6">
      

      <div class="product-show-box">
        <div class="title-box">
          <h3 class="product-show-title d-flex"><%= @product.name %></h3>
          <div>
            <h4 class="extra-info">
              <i class="far fa-clock"></i>
              Fecha de Publicación: <%= @product.created_at %>
            </h4>
          </div>
            
          
        </div>

        <div class="image-box">
          <div class="carousel-pro slider-for">
            <%= image_tag("exampleGuitar.jpg") %>
            <%= image_tag("exampleGuitar.jpg") %>
            <%= image_tag("exampleGuitar.jpg") %>
            <%= image_tag("exampleGuitar.jpg") %>
          </div>
          <div class="slider-nav">
            

           <%= image_tag("exampleGuitar.jpg") %>
           <%= image_tag("exampleGuitar.jpg") %>
           <%= image_tag("exampleGuitar.jpg") %>
           <%= image_tag("exampleGuitar.jpg") %>

          </div>
        </div>

        <div class="description-box">
          <div class="d-inline">
            <h4 class="d-inline">Descripción: </h4>
          </div>
          <div class="d-inline ml-2">
            <% @specs.each do |spec| %>
              <a href="#" class="badge badge-primary"><%= spec.tag.name %></a>
            <% end %>
          </div>
          
          <div class="col-md-12 description-content mt-1">
             <p>
              <%= @product.description %>
            </p>
          </div>
         
        </div>

        <div class="comment-box mt-3">
          <%= form_with model: [@product, Comment.new]  do |f| %>

            <%= f.text_area :content, class: "form-control"  %>
            <%= f.submit 'Comentar', class: 'btn form-btn mt-3'  %>

          <% end %>
          <div>
            <% if @comments.present? %>
              <ul id="comment_list" class="comment-list">
                <% @comments.each do |comment| %>
                  <li id="comment<%= comment.id %>" class="p-3"><i class="fas fa-comments pr-2"></i><%= comment.content %> <%= link_to 'X', product_comment_path(@product,comment), data: {method: :delete, remote: true}, class: 'btn btn-danger btn-sm' if can? :destroy, comment %></li>
                <% end %>
              </ul>

            <% else %>
              <ul id="comment_list">

              </ul>
                <h2>No hay comentarios!</h2>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="product-show-box">
         <div class="title-box text-center">
            <%= render 'shared/widgetUser' %>
            <div>
                <h4 class="extra-info">
                 Precio
                </h4>
            </div>

            <h3 class="product-show-title  text-center">$<%= @product.price %></h3>
            
              
            
          </div>

      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>







<h4>productos similares</h4>
<div class="related-pro">
  <% @rel_products.each do |product| %>
          <div class="card m-1" style="width: 13rem;">

              <div class="card-img-box">
                   </div>

              <div class="card-body d-flex align-items-end">
                <div class="w-100">
                  <h5 class="card-title text-center"><%= product.name %></h5>

                  <p class="card-text">$<%= product.price %></p>

                    <%= link_to product do %>

                      <div class="text-right card-link btn d-flex">
                        <h5 class="text-right">
                          Go
                          <i class="fas fa-angle-right"></i>
                        </h5>
                      </div>


                  <% end %>



                </div>

              </div>
            </div>
  <% end %>
</div>







<% if can? :update, @product %>
  <%= link_to "Edit", edit_product_path(@product), class:'btn btn-info' %>
<% end %>

<script>

  $('.related-pro').slick({
      
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000
  })
  
   $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.slider-nav'
  });

   $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: true,
    centerMode: true,
    focusOnSelect: true
  });
  
  
  $( "div.slick-slide > div" ).css( "height", "100%" );
   $( "div.slick-slide > div" ).css( "padding", "2px" );
      

</script>