<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<% Category.all.each do |category| %>
				<li>
					<a class="dropdown-item" href="#"><%= category.name %></a>
				</li>
	        <% end %>
		</div>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
