<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h4>datos del vendedor</h4>
<% if @product.user.shop? %>
  <%= render 'shared/widgetShop' %>
<% else %>
  <%= render 'shared/widgetUser' %>
<% end %>

<h4>etiquetas:</h4>
<% @specs.each do |spec| %>
  <a href="#" class="badge badge-primary"><%= spec.tag.name %></a>
<% end %>

<h4>productos similares</h4>
<% @rel_products.each do |product| %>
  <%= product.name %>
<% end %>


<%= form_with model: [@product, Comment.new], local: true  do |f| %>
  
  <%= f.text_area :content  %>
  <%= f.submit %>

<% end %>

<% if @comments.present? %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%= comment.content %>
      </li>
    <% end %>
  </ul>
  
<% else %>
  <h2>No hay comentarios!</h2>
<% end %>
