<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h4>datos del vendedor</h4>
<% if @product.user.shop? %>
  <%= render 'shared/widgetShop' %>
<% else %>
  <%= render 'shared/widgetUser' %>
<% end %>

<h4>etiquetas:</h4>
<% @specs.each do |spec| %>
  <a href="#" class="badge badge-primary"><%= spec.tag.name %></a>
<% end %>

<h4>productos similares</h4>
<% @rel_products.each do |product| %>
  <%= product.name %>
<% end %>
